@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: all;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(120vh);
    opacity: 0.2;
  }
}

.fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
